<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Name="NagMe" Manufacturer="devoctomy" Version="1.0.0.0" UpgradeCode="8e95d76e-6872-4b00-906a-e18d8bcea459">
    <MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)" />

    <Feature Id="Main">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>
  </Package>
</Wix>
